/AmaryllisTestTasks/MetaweatherComTests/bin
/AmaryllisTestTasks/MetaweatherComTests/obj
/AmaryllisTestTasks/BookingComTests/obj
/AmaryllisTestTasks/BookingComTests/bin
/AmaryllisTestTasks/.vs
/AmaryllisTestTasks/BookingComTests/appsettings.json
